<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Component Id="RidgePathEnvVar_0_0_2" Guid="DA46AA9C-B62F-5D2D-BE7A-3D080348EA8E" Directory="INSTALLDIR">
      <RegistryValue Root="HKLM" Key="Software\tauri-app\ridge_0_0_2" Name="RidgePathEnv_0_0_2" Type="string" Value="1" />
      <Environment Id="RidgePathEnv_0_0_2" Name="PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="yes" />
    </Component>
  </Fragment>
</Wix>
